.box-container {
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -webkit-box;
    /* TWEENER - IE 10 */
    display: -ms-flexbox;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    display: flex;
    flex-direction: column;
    padding-bottom: env(safe-area-inset-bottom);
    height: 100dvh;
}

.box-container .header-body {
    height: 100%;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -webkit-box;
    /* TWEENER - IE 10 */
    display: -ms-flexbox;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: -webkit-flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    display: flex;
    flex-flow: column;
}

.box-container .footer {
    height: 10%;
}

.header-body .bodyContent {
    flex: 1 1 auto;
    overflow-y: auto;
}

.header-body .header {
    flex: 0 0 auto;
}

.header-body .ads {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #EFEFEF;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #3A88EC;
    min-height: 40px;
    max-height: 70px;
    border-radius: 20px;
}

.floorScrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.floorScrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.slick-slide {
    visibility: hidden;
}

.slick-slide.slick-active {
    visibility: visible;
}