/* .map{
    background-image: url("../assets/image/gfloor.png");
    display: "static";
    height: 100%;
    width: 10   0%;
    background-size: cover;
    object-fit: contain;

} */

.locationList {
    overflow-y: auto;
}

.locationList::-webkit-scrollbar {
    width: 10px;
}

.locationList::-webkit-scrollbar-track {
    background-color: #EFEFEF;
    border-radius: 20px;
}

.locationList::-webkit-scrollbar-thumb {
    background-color: #3A88EC;
    min-height: 40px;
    border-radius: 20px;
}

.myMenuList {
    width: 100%;
    height: auto;
}

.map {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.MapImageContainer {
    position: relative;
    width: 80%;
}

.MapImageContainer .MapImage {
    width: 100%;
    z-index: 6;
}

.MapImageContainer .moving-student {
    position: absolute;
    width: 4%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.MapImageContainer svg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}

.MapImageContainer svg path {
    display: block;
    width: 100%;
    height: 100%;
    fill-opacity: 0;
}

.instruction-container {
    position: relative;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.instruction-container .nextFloorBtn {
    position: absolute;
    top: 30px;
    right: 0%;
    transform: translate(0%, -50%);
}

.instruction-container .prevFloorBtn {
    position: absolute;
    top: 30px;
    left: 0%;
    transform: translate(0%, -50%);
}